@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto.woff2") format("woff2"),
       url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: medium;
  font-weight: 500;
  src: url("../fonts/robotomedium.woff2") format("woff2"),
       url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/robotobold.woff2") format("woff2"),
       url("../fonts/robotobold.woff") format("woff");
}

:root {
  --basic-light-grey: #eeeeee;
  --basic-black: #000000;
  --light-black:#4d4d4d;
  --basic-dark: #283136;
  --basic-white: #ffffff;
  --basic-grey: #666666;
  --dark-grey:#444444;
  --basket-grey:#a6a6a6;
  --pagination-grey:#dfdfdf;
  --pagination-grey-dark:#d5d5d5;
  --light-red:#fb565a;
  --red:#e74246;
  --dark-red:#d7373b;
  --light-green:#00ca74;
  --green:#00bc6c;
  --dark-green: #00aa62;
  --light-yellow:#efc84a;
  --yellow:#eab534;
  --dark-yellow:#e5a722;
}

/* Grid */

.page {
  height: 100%;
  /*для прибития футера*/
}

.page-body {
  min-height: 100%;

  /* display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start; */

  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-dark);
  background-color: var(--basic-white);

/*шапка занимает высоту по своему контенту, как и подвал,
 а контентная часть занимает всё возможное пространство.
 Так добиваемся того, чтобы подвал прилип к низу страницы.

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
*/
}

.positioner {
  width: 1160px;
  margin: 0 auto;
  padding:0 20px;
  outline: 1px solid cyan;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;/*чтобы они не вылезали за пределы своих родительских элементов*/
  height: auto;/*автоматическую высоту, чтобы изменение размеров было пропорциональным*/
}

.main-header {
  background-color:var(--basic-light-grey);
  outline: 3px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
  margin-bottom: 0;
}


.main-navigation {

  background-color: transparent;
  /* display:grid;
  grid-template-columns: repeat(12, 60px);
  column-gap: 20px;
  align-items: center; */
  display: grid;
  grid-template-columns: 140px 1fr min-content;
  justify-items: center;
  align-items: center;


}

.main-header-logo {
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
  /* grid-column: 1/4; */
}

.site-navigation {
  list-style: none;
  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
  /* display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center; */
}

.site-navigation li {

  /* margin-right: 45px; */
}


/* User navigation */
.site-navigation-item {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  outline: none; /*убирает контур фокуса*/
  text-decoration: none;/*убирает подчеркивание текста*/
  text-transform: uppercase;



 }

/*при фокусировка и наведении*/
.site-navigation-item:focus,
.site-navigation-item:hover {
  color: var(--light-red);
}
/*при нажатии*/
.site-navigation-item:active {
  color: rgba(0, 0, 0, 0.3);
}
.site-navigation-active,
.site-navigation-active:hover,
.site-navigation-active:focus,
.site-navigation-active:active {
  border-bottom: 2px solid var(--light-red);
  padding-bottom: 13px;
  color: var(--basic-black);
}

.basket-link {
  /* grid-column: 21/24; */
  outline: 5px solid rgba(255, 0, 255, 0.3);
  outline-offset: -5px;
}


.content-uppercase, .basket-link, .services-list-title {
  text-transform: uppercase;
}

/*А еще некоторые реализуют так: */
/*.site-navigation a:not([href]) {
}
Не универсальный способ, очевидно же, что это нужно
делать через классы и js.
И тут зануда скажет: "А если отключат js?"
*/

.index-page-container {
  outline: 5px solid red;
  outline-offset: -5px;
}
.grey-background {
background-color: var(--basic-light-grey);

}
.visually-hidden {
  display: none;
}
.features-list {
  list-style: none;
  margin: 0;
  padding: 0;


}

.feature-item {
  display: grid;
  grid-template-columns: repeat(12, 60px);
  column-gap: 40px;
}


.feature-content-block {
  grid-column: 1/5;
}
.feature-image-block {
  grid-column: 6/-1;
}

.feature-item-title {
font-weight: 500;
font-size: 55px;
line-height: 55px;
color: var(--basic-black);


}
/*временно прячем 2 блока слайдера*/
.feature-item-hidden {
  display: none;
}


.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  border-radius: 3px;
  outline: none; /*убирает контур фокуса*/
  text-decoration: none;/*убирает подчеркивание текста*/
  background-color:  var(--light-red);
  color:  var(--basic-white);
  text-transform: uppercase;
  display: inline-block;

}
/*при фокусировка напр табами и наведении*/
.button:focus,
.button:hover {
  background-color: var(--red);
  }
/*при нажатии*/
.button:active {
  background-color: var(--dark-red);
  color: rgba(255, 255, 255, 0.3);
}

.learn-more-button{
  padding: 17px 54px 15px 54px;
}

/*Sirvices*/
.services{
  outline: 5px solid rgba(255, 0, 0 , 0.3);

}
.services-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 360px);
  column-gap: 40px;
  margin: 0;
  padding: 0;


}
.services-list-item {
  outline: 5px solid rgba(0, 255, 255 , 0.3);
  outline-offset: -5px;
}
.services-list-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);

}
.services-list-appeal {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.button-red,
.button-green,
.button-yellow  {
  padding: 17px 40px 15px 40px
}

/*при фокусировка напр табами и наведении*/
.button-red:focus,
.button-red:hover {
  background-color: var(--red);
 }
/*при нажатии*/
.button-red:active {
  background-color: var(--dark-red);
  color: rgba(255, 255, 255, 0.6);
}

.button-green {
  background-color: var(--light-green);
  color:var(--basic-white);
}
/*при фокусировка напр табами и наведении*/
.button-green:focus,
.button-green:hover {
  background-color: var(--green);
 }
/*при нажатии*/
a.button-green:active {
  background-color: var(--dark-green);
  color: rgba(255, 255, 255, 0.6);
}

.button-yellow {
  background-color: var(--light-yellow);
  color:var(--basic-white);
}
/*при фокусировка напр табами и наведении*/
.button-yellow:focus,
.button-yellow:hover {
  background-color: var(--yellow);
 }
/*при нажатии*/
.button-yellow:active {
  background-color: var(--dark-yellow);
  color: rgba(255, 255, 255, 0.6);
}

/*About*/
.about {
  display: grid;
  grid-template-columns: repeat(12, 60px);
  grid-gap: 40px;
  outline: 5px solid rgba(180, 32, 131, 0.3);
  outline-offset: -5px;
}
.about-left{
  grid-column: 1/8;
}
.about-right{
  grid-column: 9/-1;
}

.about-desc {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
}
.about-desc-slogan {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.about-desc-slogan .content-uppercase {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}
.about-list-item {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.about .content-uppercase {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}
.about-list-item {
  list-style: none;
}
.about-like {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--basic-black);
}
.percent-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
  margin: 0;
}
.percent-list-item {

}
ain-footer

.percent-list-level {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
  margin-bottom: 11px;
}
.level-desc {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;

}
/*Partners*/
.partners-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 260px);
  column-gap: 40px;
  margin: 0;
  padding: 0;
  min-height: 130px;
  align-items: center;
  justify-items: center;

}
.partners-list-item {
  align-self: center;
  justify-self: center;
}

/*footer*/

.main-footer {
  outline: 5px solid rgba(255, 0, 0, 0.7);
}
.main-footer-address {
  height: 318px;
  width: 310px;

  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;


  /* transform: translate(0, 376px); */
  /* не вкатывает ((( */
}
.main-footer-address h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  weight: 700;
  color: var(--basic-black);
  /*нужен ли этот отступ поглядим попозже*/
  margin-top: 0;
}
.main-footer-content, .contacts-phone {
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-grey);
}
.main-footer-button {
  padding: 17px 44px 15px 44px;
}

/*при фокусировка напр табами и наведении*/
.main-footer-button:focus,
.main-footer-button:hover {
  background-color: var(--red);
 }
/*при нажатии*/
.main-footer-button:active {
  background-color: var(--dark-red);
}

.imgStretch {
  min-width: 100%;
  display: block;
}




/*Social*/
.main-footer-social {
  display: grid;
  grid-template-columns: repeat(12, 60px);
  column-gap: 40px;

}
.footer-left{
  grid-column: 1/4;
}
.footer-right{
  grid-column: 5/-1;
  /* justify-self: start; */
}


.main-footer-social h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
}
.main-footer-social p {
   font-weight: normal;
   font-size: 16px;
  line-height: 22px;
  color: var(--dark-grey);
}






.social-list {
  list-style: none;
}



/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/


/*Начало страницы catalog.html*/
.container {
  display: grid;
  grid-template-columns: 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px;
  column-gap: 40px;
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}
.filters{
  grid-column: 1/4;
  outline: 5px solid rgba(0, 0, 255, 0.7);
  outline-offset: -5px;
}

.results-column {
  grid-column: 5/-1;
  align-content: start;
  outline: 5px solid rgba(0, 0, 255, 0.7);
  outline-offset: -5px;
}


.catalog-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
}
.filters-form {
  font-size: 16px;
  line-height: 19px;
  color: var(--basic-dark);
}
.legend-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}
.filters-form ul {
  list-style: none;
}

/*
.range {

}
*/
.range-label {
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-dark);
}
.grid-view {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

/* Стилизацию радио-кнопок пока оставил,
не знаю как, почитаю.
.grid-view-radio{
  color: var(--light-black);
  opacity: 0.4;
}
.grid-view-radio:hover{
  color: var(--light-black);
}
*/
.features-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color:var(--basic-black)
}
/*
Тоже самое насчет блока чекбоксов
Не знаю как задавать им разное состояние,
наверное это мелкие детали?
*/
.features-button {
background-color: var(--basic-light-grey);
border-radius: 3px;
text-transform: uppercase;
color: var(--basic-black);
padding: 17px 89px 15px 88px;
/*попробовал сделать отступы у этой кнопки*/
}

.sort-section-list {
  list-style: none;
}
.sort-section-link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}
.sort-section-link:hover {
  color: rgba(0, 0, 0, 0.6);
}
.sort-section-link:active,
.sort-section-active {
  color: rgba(0, 0, 0, 1);
}


/*Карточки*/

.results-list {
  list-style: none;
  display:grid;
  grid-template-columns: 1fr 1fr;
  outline: 5px solid rgba(255, 0, 221, 0.7);
  outline-offset: -5px;
  margin: 0;
  padding: 0;

}
.results-hover {
  width:360px;
  height: 231px;
  /*display:none;*/
}
/*название карточки*/
.results-link-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-bottom: 12px;
}
.results-link-title:focus,
.results-link-title:hover {
  color: var(--light-red);
}
.results-link-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.results-hover-content {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-grey);
  margin-bottom: 32px;
}
/*будет кнопкой*/
.price-button {
  padding: 17px 72px 15px 72px;
}
.price-button:focus,
.price-button:hover {
  background-color: var(--red);
}
.price-button:active {
  background-color: var(--dark-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);

}


.card-container img {
  position: relative;
  z-index: 1;
}
.card-container:hover .results-hover{
  /*
  display:block;
  position: relative;
  z-index: 5;
  top: -300px;
  */
  background: var(--basic-light-grey);
  outline: 1px solid  green;
}


.pagination-list {
  list-style: none;
}

.pagination-item{
font-weight: 500;
font-size: 16px;
line-height: 18px;
padding: 17px 20px 15px 20px;
border-radius: 3px;
color: var(--basic-black);
background-color: var(--basic-light-grey);
margin-bottom: 10px;
display:inline-block;
}
.pagination-item:focus,
.pagination-item:hover {
  background-color:var(--pagination-grey);
}
.pagination-item:active {
  background-color:var(--pagination-grey-dark);
  color: rgba(0, 0, 0, 0.3);
}
.pagination-item-active,
.pagination-item-active:focus,
.pagination-item-active:hover,
.pagination-item-active:active {
  background-color: rgba(0, 0, 0, 0.0001);
  color: var(--basic-black);
  border: 3px solid #DBDBDB;
  border-radius: 3px;
  padding: 17px 20px 15px 20px;
  /*
  margin-bottom: 10px;
  display:inline-block;
  box-sizing: border-box;
  */
}


.pagination-item-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  padding: 17px 77px 15px 78px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-light-grey);
}
.pagination-button:focus,
.pagination-button:hover {
  background-color:var(--pagination-grey);
}
.pagination-button:active {
  background-color:var(--pagination-grey-dark);
  color: rgba(0, 0, 0, 0.3);
}

