@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto.woff2") format("woff2"),
       url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: medium;
  font-weight: 500;
  src: url("../fonts/robotomedium.woff2") format("woff2"),
       url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/robotobold.woff2") format("woff2"),
       url("../fonts/robotobold.woff") format("woff");
}

:root {
  --basic-light-grey: #eeeeee;
  --basic-black: #000000;
  --light-black:#4d4d4d;
  --basic-dark: #283136;
  --basic-white: #ffffff;
  --basic-grey: #666666;
  --dark-grey:#444444;
  --basket-grey:#a6a6a6;
  --light-red:#fb565a;
  --green:#00ca74;
  --yellow:#efc849;

}

body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  color: var(--basic-dark);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;/*чтобы они не вылезали за пределы своих родительских элементов*/
  height: auto;/*автоматическую высоту, чтобы изменение размеров было пропорциональным*/
}

.main-header {
  background-color:var(--basic-light-grey);
}

.main-navigation {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  background-color: transparent;
}
.site-navigation {
  list-style: none;
}

.site-navigation, .content-uppercase, .basket-link, .services-list-title {
  text-transform: uppercase;
}
/* User navigation */
.main-navigation a,
.site-navigation a {
  color: var(--basic-black);
}

.main-navigation a:hover,
.main-navigation a:focus,
.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--light-red);
}
.visually-hidden {
  display: none;
}
.features-list {
  list-style: none;
}
.feature-item-title {
font-weight: 500;
font-size: 55px;
line-height: 55px;
color: var(--basic-black);
}
.learn-more-button {
  background-color:  var(--light-red);
  color:  var(--basic-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}


/*Sirvices*/
.services-list-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);
}
.services-list-appeal {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.services-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color:var(--basic-white);
}
.button-red {
  background-color: var(--light-red);
}
.button-green {
  background-color: var(--green);
}

.button-yellow {
  background-color: var(--yellow);
}
/*About*/
.about-desc {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
}
.about-desc-slogan {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.about-desc-slogan .content-uppercase {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}
.about-list-item {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.about .content-uppercase {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}
.about-list-item {
  list-style: none;
}
.about-like {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--basic-black);
}
.percent-list-item {
  list-style: none;
}
.percent-list-level {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
}
.level-desc {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}
/*Partners*/
.partners-list {
  list-style: none;
}
/*footer*/

.main-footer-address h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);

}
.main-footer-content, .contacts-phone {
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-grey);
}
.main-footer-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color:var(--basic-white);
  background-color: var(--light-red);
}

/*Social*/
.main-footer-social h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
}
.main-footer-social p {
   font-weight: normal;
   font-size: 16px;
  line-height: 22px;
  color: var(--dark-grey);
}
.social-list {
  list-style: none;
}


/*Начало страницы catalog.html*/
.catalog-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
}
.filters-form {
  font-size: 16px;
  line-height: 19px;
  color: var(--basic-dark);
}
.legend-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}
.filters-form ul {
  list-style: none;
}

/*
.range {

}
*/
.range-label {
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-dark);
}
.grid-view {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

/* Стилизацию радио-кнопок пока оставил,
не знаю как, почитаю.
.grid-view-radio{
  color: var(--light-black);
  opacity: 0.4;
}
.grid-view-radio:hover{
  color: var(--light-black);
}
*/
.features-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}
/*
Тоже самое насчет блока чекбоксов
Не знаю как задавать им разное состояние,
наверное это мелкие детали?
*/
.features-button {
background-color: var(--basic-light-grey);
border-radius: 3px;
text-transform: uppercase;
color: var(--basic-black);
padding: 17px 89px 15px 88px;
/*попробовал сделать отступы у этой кнопки*/
}
.sort-section-list {
  font-size: 14px;
  line-height: 18px;
  list-style: none;
  text-transform: uppercase;
}
a.sort-section-link {
  color: var(--basic-black);
  opacity: 0.3;
}
a.sort-section-link:hover {
  color: var(--basic-black);
  opacity: 1;
}
.results-list {
  list-style: none;
}
.results-hover-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}
.results-hover p {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-grey);
}
.results-hover a {
  font-size: 16px;
  line-height: 18px;
  background-color: var(--light-red);
  color: var(--basic-white);
  text-decoration: none;
}
.pagination-list {
  list-style: none;
}
.pagination-item a{
font-weight: 500;
font-size: 16px;
line-height: 18px;
color: var(--basic-black);
background-color: var(--basic-light-grey);
}


