/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto.woff2") format("woff2"),
       url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: medium;
  font-weight: 500;
  src: url("../fonts/robotomedium.woff2") format("woff2"),
       url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/robotobold.woff2") format("woff2"),
       url("../fonts/robotobold.woff") format("woff");
}

:root {
  --basic-light-grey: #eeeeee;
  --basic-black: #000000;
  --light-black:#4d4d4d;
  --basic-dark: #283136;
  --basic-white: #ffffff;
  --basic-grey: #666666;
  --dark-grey:#444444;
  --basket-grey:#a6a6a6;
  --pagination-grey:#dfdfdf;
  --pagination-grey-dark:#d5d5d5;
  --toggle-grey: #ababab;
  --light-red:#fb565a;
  --red:#e74246;
  --dark-red:#d7373b;
  --light-green:#00ca74;
  --green:#00bc6c;
  --dark-green: #00aa62;
  --light-yellow:#efc84a;
  --yellow:#eab534;
  --dark-yellow:#e5a722;
}

/* Grid */

.page {
  height: 100%;
  /*для прибития футера*/
}

.page-body {
  min-height: 100%;

  /* display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start; */

  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-dark);
  background-color: var(--basic-white);

/*шапка занимает высоту по своему контенту, как и подвал,
 а контентная часть занимает всё возможное пространство.
 Так добиваемся того, чтобы подвал прилип к низу страницы.

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
*/
}

.positioner {
  width: 1160px;
  margin: 0 auto;
  padding:0 20px;
  /* outline: 1px solid cyan; */
  position: relative;
}
/*начало блока для управления слайдером*/
.main-slider {


}
.slider-controls {

  position: absolute;
  bottom: 100px;
  left: 40%;
  margin-left: 67px;
  z-index: 30;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  width: 88px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

}

.slider-controls button{
  padding: 0;
  width: 18px;
  height: 18px;

  position: relative;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 50%;
  /*делаем прозрачную границу, потому, что у браузера
  есть свои стили*/
  border:transparent;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

}
/*если у контроллера слайдов есть этот класс,
то она изменит свой фон, т.е. активный контроллер*/

.slider-controls button.current:after {
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  border-radius: 50%;
  background-color: transparent;
  border: 3px solid #C1C1C1;
  display: block;
}


/*конец блока для управления слайдером*/




a {
  text-decoration: none;
}

img {
  max-width: 100%;/*чтобы они не вылезали за пределы своих родительских элементов*/
  height: auto;/*автоматическую высоту, чтобы изменение размеров было пропорциональным*/
}

.main-header {
  background-color:var(--basic-light-grey);
  /* outline: 3px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px; */
  padding-top: 47px;
  margin-bottom: 0;
}


.main-navigation {

  background-color: transparent;
/*уберу гриды и попробую flex*/
  /* display: grid;
  grid-template-columns: 140px 1fr min-content;
  justify-items: center;
  align-items: center; */

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* margin-bottom: 75px; */





}

.main-header-logo {
  /* outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px; */
  /* grid-column: 1/4; */
}

.site-navigation {
  list-style: none;
  /* outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* justify-items: center;
  justify-content: center;*/
  width: 800px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  padding-top: 14px;
  margin-left: 2px;


}

.site-navigation li {

  margin-right: 45px;
}


/* User navigation */
.site-navigation-item {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  outline: none; /*убирает контур фокуса*/
  text-decoration: none;/*убирает подчеркивание текста*/
  text-transform: uppercase;



 }

/*при фокусировка и наведении*/
.site-navigation-item:focus,
.site-navigation-item:hover {
  color: var(--light-red);
}
/*при нажатии*/
.site-navigation-item:active {
  color: rgba(0, 0, 0, 0.3);
}
.site-navigation-active,
.site-navigation-active:hover,
.site-navigation-active:focus,
.site-navigation-active:active {
  border-bottom: 2px solid var(--light-red);
  padding-bottom: 18px;
  color: var(--basic-black);
}

.basket-container {
  position: relative;
  justify-self: flex-end;
  /* outline: 1px solid #ff0000; */
  padding-top: 15px;
}


.basket-link::before {
  content: "";
  /*absolute нужет потому что content  - это строчный,
  а строчному нельзя задать ширину и высоту, задали абсолют,
  появились размеры
  */
  position: absolute;
  width: 15px;
  height: 15px;
  top: 21px;
  left: 1px;
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}

.basket-link {
  padding-left: 41px;
}








.content-uppercase, .basket-link, .services-list-title {
  text-transform: uppercase;
}

/*А еще некоторые реализуют так: */
/*.site-navigation a:not([href]) {
}
Не универсальный способ, очевидно же, что это нужно
делать через классы и js.
И тут зануда скажет: "А если отключат js?"
*/

.index-page-container {
  /* outline: 5px solid red;
  outline-offset: -5px; */
}
.grey-background {
background-color: var(--basic-light-grey);

}
.visually-hidden {
  display: none;
  padding: 0;
  margin: 0;
}
.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
   position: relative; /*для кнопок слайдера */
   box-sizing: border-box;


}

.feature-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px 40px 60px 40px 60px 40px 60px 40px 60px 40px 60px 40px 60px 40px 60px 40px 60px 40px 60px 40px 60px 40px 60px;
  grid-template-columns: repeat(12, 60px);
  /* -ms-grid-rows: 431px;
  grid-template-rows: 431px; */
  min-height: 431px;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  position: relative;
  /* display: flex;
  justify-content: space-between; */
}

.feature-item > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.feature-item > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.feature-item > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.feature-item > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.feature-item > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}

.feature-item > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 11;
}

.feature-item > *:nth-child(7) {
  -ms-grid-row: 1;
  -ms-grid-column: 13;
}

.feature-item > *:nth-child(8) {
  -ms-grid-row: 1;
  -ms-grid-column: 15;
}

.feature-item > *:nth-child(9) {
  -ms-grid-row: 1;
  -ms-grid-column: 17;
}

.feature-item > *:nth-child(10) {
  -ms-grid-row: 1;
  -ms-grid-column: 19;
}

.feature-item > *:nth-child(11) {
  -ms-grid-row: 1;
  -ms-grid-column: 21;
}

.feature-item > *:nth-child(12) {
  -ms-grid-row: 1;
  -ms-grid-column: 23;
}


.feature-content-block {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
  -ms-grid-row: 1;
  grid-row: 1;
  z-index: 20;
  overflow: hidden;


}
.feature-image-block {
  grid-column: 5/-1;
  -ms-grid-row: 1;
  grid-row: 1;
  z-index: 10;
  -ms-grid-column-align: end;
      justify-self: end;

}

.feature-item-title {
font-weight: 500;
font-size: 55px;
line-height: 55px;
color: var(--basic-black);
margin: 0;
margin-top: 74px;
margin-bottom: 25px;

}
/*временно прячем 2 блока слайдера*/
.feature-item-hidden {
  display: none;
}

.feature-item-content {
  margin-bottom: 38px;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  border-radius: 3px;
  outline: none; /*убирает контур фокуса*/
  text-decoration: none;/*убирает подчеркивание текста*/
  background-color:  var(--light-red);
  color:  var(--basic-white);
  text-transform: uppercase;
  display: inline-block;

}
/*при фокусировка напр табами и наведении*/
.button:focus,
.button:hover {
  background-color: var(--red);
  }
/*при нажатии*/
.button:active {
  background-color: var(--dark-red);
  color: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
          box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.learn-more-button{
  padding: 18px 54px 15px 54px;
  /* position: absolute; */
  /* z-index: 21;
  display: block; */
}

/*Sirvices*/
.services{
  /* outline: 5px solid rgba(255, 0, 0 , 0.3); */
  padding-top: 65px;

}
.services-list {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 360px 40px 360px 40px 360px;
  grid-template-columns: repeat(3, 360px);
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;


}
.services-list-item {
  /* outline: 5px solid rgba(0, 255, 255 , 0.3);
  outline-offset: -5px; */
}
.services-list-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
  margin-top: 21px;

}
.services-list-appeal {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.button-red,
.button-green,
.button-yellow  {
  padding: 17px 40px 15px 40px;
  margin-top: 16px;

}

/*при фокусировка напр табами и наведении*/
.button-red:focus,
.button-red:hover {
  background-color: var(--red);
 }
/*при нажатии*/
.button-red:active {
  background-color: var(--dark-red);
  color: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
          box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);

}

.button-green {
  background-color: var(--light-green);
  color:var(--basic-white);
}
/*при фокусировка напр табами и наведении*/
.button-green:focus,
.button-green:hover {
  background-color: var(--green);
 }
/*при нажатии*/
a.button-green:active {
  background-color: var(--dark-green);
  color: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
          box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button-yellow {
  background-color: var(--light-yellow);
  color:var(--basic-white);
}
/*при фокусировка напр табами и наведении*/
.button-yellow:focus,
.button-yellow:hover {
  background-color: var(--yellow);
 }
/*при нажатии*/
.button-yellow:active {
  background-color: var(--dark-yellow);
  color: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
          box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);

}

/*About*/
.about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px 40px 60px 40px 60px 40px 60px 40px 60px 40px 60px 40px 60px 40px 60px 40px 60px 40px 60px 40px 60px 40px 60px;
  grid-template-columns: repeat(12, 60px);
  grid-gap: 40px;
  /* outline: 5px solid rgba(180, 32, 131, 0.3);
  outline-offset: -5px; */
  border-top: 2px solid var(--basic-light-grey);

}
.about-left{
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1/8;
}
.about-right{
  grid-column: 9/-1;
}
.about-right img {
  margin-top: 39px;
  margin-bottom: 31px;

}


.about-desc {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
  margin-top: 72px;
  margin-bottom: 34px;
}
.about-desc-slogan {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-dark);
  margin-bottom: 39px;
}
.about-desc-slogan .content-uppercase {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.about-list {
  margin: 0;
  padding: 0;
}

.about-list-item {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}

.about .content-uppercase {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}
.about-pre-list {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-dark);
  padding: 0;
  margin-bottom: 23px;
}
.about-list {
  list-style: none;
  margin: 0;
  padding: 0;


}
/*стилизованные булиты в виде красной полосочки*/
.about-list-item::before {
  height: 2px;
  width: 25px;
  content: "";
  background-color: var(--light-red);
  display: inline-block;
  margin-right: 11px;


}


.about-like {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--basic-black);
  padding: 0;
  margin: 0;
  margin-left: 17px;
  margin-bottom: 27px;
}
.percent-list {
  list-style: none;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  /* margin-top: -45px; */
  margin-bottom: 75px;


}
.percent-list-item {
  /* width: 100px; */
  -ms-flex-item-align: top;
      -ms-grid-row-align: top;
      align-self: top;
  margin-right: 20px;

}

.percent-list-item:last-child {
  margin-right: 0;
}



.percent-list-level {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
  margin-bottom: 11px;
  display: block;
  position: relative;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 15px;
}

.percent-sup {
  font-size: 26px;
  line-height: 40px;
  top: -0.5em;
  /* position: absolute; */
  /* vertical-align: baseline; */
  /* font-size: 26px;
  line-height: 0;
  position: absolute;
  vertical-align: baseline;
  margin-top: 44px; */
}

.percent-sup {
  font-size: 26px;
  line-height: 40px;
  top: -0.5em;
  /* position: absolute; */
  /* vertical-align: baseline; */
  /* font-size: 26px;
  line-height: 0;
  position: absolute;
  vertical-align: baseline;
  margin-top: 44px; */
}


/* .percent-list-level span{
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  color: var(--basic-black);
  position: absolute;
   right: 25px;

} */

.level-desc {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  padding: 0;
  margin: 0;
  /* margin-bottom: 30px; */
  margin-right: 10px;

}
.level-desc:last-child{
  margin-right: 0px;
}





/*Partners*/
.partners-list {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 260px 40px 260px 40px 260px 40px 260px;
  grid-template-columns: repeat(4, 260px);
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  margin: 0;
  padding: 0;
  min-height: 130px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  border-top: 2px solid var(--basic-light-grey);
  border-bottom: 2px solid var(--basic-light-grey);
  margin-bottom: 74px;
}

.partners-list-item {
  /* align-self: center;
  justify-self: center;
  padding-top: 46px;
  padding-bottom: 44px;
  position: relative;
  padding-right: 48px; */
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  padding-top: 47px;
  padding-bottom: 44px;
  position: relative;
  /* display: flex; */
  /* padding-right: 48px; */

}

.partners-list-item::after {
  height: 52px;
  width: 2px;
  content: "";
  background-color: var(--basic-light-grey);
   opacity: 1;
  position: absolute;
  right: -52px;
  top: 0;/*это значение выравнивает по вертикали по центру*/
  bottom: 0;/*это значение выравнивает по вертикали по центру*/
  margin: auto 0;/*это значение выравнивает по вертикали по центру*/

}

.partners-list-item:last-child::after{
  display: none;
}

.partners-list-link {
  opacity: 0.2;
}
.partners-list-link:focus,
.partners-list-link:hover {
  opacity: 1;
}

.partners-list-link:active {
  opacity: 0.1;
}

/* .ya {
  display: flex;
}

.ya::after{
height: 52px;
width: 2px;
content: "";
background-color: var(--basic-light-grey);
display: inline-block;
margin-left: 48px;
opacity: 1;
align-self: center;
}

.ya:last-child::after{
  display: none;
  margin: 0;
  padding: 0;

} */










/*footer*/

.main-footer {
  /* outline: 5px solid rgba(255, 0, 0, 0.7); */
}


.main-footer-address {
  position: absolute;
  top: 52px;
  left: 0;

  height: 318px;
  width: 310px;

  margin: 0;
  margin-left: 22px;
  /* transform: translate(0, 376px); */
  /* не вкатывает ((( */

  text-align: center;
  background-color: var(--basic-white);
}
.main-footer-address h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  /*нужен ли этот отступ поглядим попозже*/
  margin-top: 0;
  padding-top: 47px;
  margin-right: 39px;
  margin-right: 22px;
  text-transform: uppercase;

}
.main-footer-content, .contacts-phone {
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-grey);
}

.post-address {
  text-align: left;
  padding-left: 48px;
  margin-top: 20px;
}



.contacts-phone {
  padding-bottom: 37px;
}

.main-footer-button {
  padding: 17px 44px 15px 44px;
  margin-top: 20px;
}



/*при фокусировка напр табами и наведении*/
.main-footer-button:focus,
.main-footer-button:hover {
  background-color: var(--red);
 }
/*при нажатии*/
.main-footer-button:active {
  background-color: var(--dark-red);
}

.footer-map-container {
  height: 416px;
  /* box-sizing: border-box; */
  /* position: relative; */
}

.footer-map-container iframe {
  border: none;
  overflow: hidden;
  width: 100%;
  height: 416px;

}

.imgStretch {
  min-width: 100%;
  display: block;
  height: 416px;
  -o-object-fit: cover;
     object-fit: cover;
}




/*Social*/
.main-footer-social {

  /* display: flex;
  align-items: center;
  justify-content: center; */
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px 40px 60px 40px 60px 40px 60px 40px 60px 40px 60px 40px 60px 40px 60px 40px 60px 40px 60px 40px 60px 40px 60px;
  grid-template-columns: repeat(12, 60px);
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  justify-items: start;
  /* align-items: center; */
  /* padding-top: 68px; */
  padding-top: 0px;

}
.footer-left{
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  padding: 0;
  margin: 0;
  margin-top: 64px;
  margin-bottom: 68px;
}
.footer-right{
  grid-column: 5/-1;
  /* justify-self: start; */
  padding: 0;
  margin: 0;
  margin-top: 71px;
  margin-bottom: 74px;
}


.main-footer-social h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
  margin-bottom: -7px;
}
.main-footer-social p {
   font-weight: normal;
   font-size: 16px;
  line-height: 22px;
  color: var(--dark-grey);
}






.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}


.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 9px;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left bottom, left top, from(#E1E1E1), to(#E1E1E1)), #FFFFFF;
  background: -o-linear-gradient(bottom, #E1E1E1, #E1E1E1), #FFFFFF;
  background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;

}

/*при фокусировка напр табами и наведении*/
.social-button:focus,
.social-button:hover {
  background-image:none;
  background-color: var(--red);
 }
/*при нажатии*/
.social-button:active {
  background-image:none;
  background-color: var(--dark-red);
}


.social-button:active .social-image{
  fill:rgba(255, 255, 255, 0.3);
}



/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/


/*Начало страницы catalog.html*/
.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px 40px 60px 40px 60px 40px 60px 40px 60px 40px 60px 40px 60px 40px 60px 40px 60px 40px 60px 40px 60px 40px 60px;
  grid-template-columns: 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  /* outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px; */
}
.filters{
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  /* outline: 5px solid rgba(0, 0, 255, 0.7);
  outline-offset: -5px; */
}

.results-column {
  grid-column: 5/-1;
  -ms-flex-line-pack: start;
      align-content: start;
  /* outline: 5px solid rgba(0, 0, 255, 0.7);
  outline-offset: -5px; */
}


.catalog-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  padding-bottom: 108px;
  margin-top: 73px;
}
.filters-form {
  font-size: 16px;
  line-height: 19px;
  color: var(--basic-dark);
}

/* Блок с ползунком */
/* ------------------------------------------ */

legend {
  /* box-sizing: border-box; */
  /* color: inherit; */
  display: block;
  /* max-width: 100%; */
  /* padding: 0; */
  /* white-space: normal; */
}

.legend-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  width: 360px;
  /* align-self: center; */
  padding-top: 55px;
  margin-bottom: 49px;
}

.range-filter {
  width: 260px;
}

/* Теперь выровняем шкалу по центру нашего элемента.
Для этого зададим верхний внутренний отступ,
равный общей высоте блока,
 минус высота шкалы и всё это делённое на 2: ( (80px — 2px) / 2 = 39px ). */

.range-controls {
  height: 80px;
  background: var(--basic-light-grey);
  border-radius: 3px;
  margin-bottom: 14px;
  padding-top: 39px;
  /* Так как внутренние отступы учитываются в размер объекта,
  уменьшим высоту объекта на размер верхнего
  внутреннего отступа. */
  height: 41px;
  padding-right: 20px;
  padding-left: 20px;
  /* для кружков делаем relative */
  position:relative;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;

}
/* зеленая полосочка */
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--light-green);
}

.range-controls .toggle {

  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: var(--toggle-grey);
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  /* box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15); */
  cursor: pointer;

}

/* А теперь через уникальные классы добавим позицию слева,
для каждого элемента. */
.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}


.price-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  line-height: 22px;
}

/*поля от и до */
.price-controls input {
  font-family: inherit;
  font-size: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 80px;
  padding: 9px;
  margin-left: 15px;
  text-align: center;
  color: var(--basic-dark);
  border: none;
  border-radius: 3px;
  background-color: var(--basic-light-grey);

}










.filters-form ul {
  list-style: none;
}


.range-label {
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-dark);
}
.grid-view {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}


.features-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color:var(--basic-black)
}

/*Radio section*/
.grid-view-list {
  margin-top: 13px;
}

.grid-view-item {
  margin: 0;
  margin-bottom: 19px;
  padding: 0;
}

.grid-view-radio {
  position: absolute;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}


.radio-box {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-image: url(../img/input/radio-off.svg);
  opacity: 0.4;
  background-color: transparent;
  margin-left: -40px;
}
.grid-view-label {
  /* padding-left: 20px; */
}

.grid-view-radio:checked + .radio-box {
  background-image: url(../img/input/radio-on.svg);
  opacity: 0.4;
}
.grid-view-radio:focus + .radio-box,
.grid-view-radio:hover + .radio-box {
  background-image: url(../img/input/radio-off.svg);
  /* background-image: url(../img/input/radio-on.svg); */
  opacity: 1;
}
.grid-view-radio:checked:focus + .radio-box,
.grid-view-radio:checked:hover + .radio-box  {
  background-image: url(../img/input/radio-on.svg);
  opacity: 1;
}
/*Disabled*/
.grid-view-radio:disabled + .radio-box {
  background-image: url(../img/input/radio-off.svg);
  opacity: 0.1;
}
.grid-view-radio:checked:disabled + .radio-box{
  background-image: url(../img/input/radio-off.svg);
  opacity: 0.1;
}




/*Здесь нужно подкрутить*/

.feature-list {
  /* margin: 0; */
  /* padding: 0; */
}

.feature-list-item {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}



/*Чекбоксы*/
.check-input {
  /* первый способ */
  /* position: absolute;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none; */
  /* второй способ */
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);


}
.check-input:checked + .check-box {

  background-image: url(../img/input/checkbox-on.svg);
  opacity: 0.4;
}
.check-input:focus + .check-box,
.check-input:hover + .check-box {

  background-image: url(../img/input/checkbox-off.svg);
  opacity: 1;

}
.check-input:checked:focus + .check-box,
.check-input:checked:hover + .check-box {

  background-image: url(../img/input/checkbox-on.svg);
  opacity: 1;

}
/*Disabled*/
.check-input:disabled + .check-box {

  background-image: url(../img/input/checkbox-off.svg);
  opacity: 0.1;
}
.check-input:checked:disabled + .check-box {

  background-image: url(../img/input/checkbox-on.svg);
  opacity: 0.1;
}
/*много селекторов, но не знаю как по-другому подобраться*/
  .check-input:disabled + .check-box + .feature-list-disabled{
  color: rgba(0, 0, 0, 0.3);
}




.check {
  padding-left: 0px;

}
.check-box{
  position: absolute;
  width: 25px;
  height: 23px;
  background-image: url(../img/input/checkbox-off.svg);
  background-repeat: no-repeat;
  opacity: 0.4;
  background-color: transparent;
  margin-left: -40px;
}


.features-button {
border-radius: 3px;
text-transform: uppercase;
background-color: var(--basic-light-grey);
padding: 17px 89px 15px 88px;
/*попробовал сделать отступы у этой кнопки*/
border: none;

}
.features-button:focus,
.features-button:hover {
  background-color: var(--pagination-grey);
  cursor: pointer;
}

.features-button:active {
  background-color: var(--pagination-grey-dark);
  color: rgba(0, 0, 0, 0.3);

}



.filters-form fieldset {

  /* margin-bottom: 56px; */
  border: none;
}
.fieldset-cost {

  padding: 0;
  margin: 0;
  margin-bottom: 57px;
  border: none;
}






.fieldset-grid {
  padding: 0;
  margin: 0;
  margin-bottom: 33px;
}

.features-fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 31px;
}

.sort-section fieldset {
  border: none;
  padding: 0;
  margin: 0;
}


/**/
.sort-section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sort-section-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin: 0;
  padding: 0;
  width: 358px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

}
.sort-section-link {
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  margin: 0;
  padding: 0;
  padding-right: 25px;

}
.sort-section-link :last-child{
  padding-right: 32px;
}
.sort-section-link:hover {
  color: rgba(0, 0, 0, 0.6);
}
.sort-section-link:active,
.sort-section-active,
.sort-section-active:hover,
.sort-section-active:focus,
.sort-section-active:active {
  color: rgba(0, 0, 0, 1);
}



.descending {
  display: block;
  width: 11px;
  height: 10px;
  background-image: url(../img/triangle/icon-down.svg);
  opacity: 0.2;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
  margin-right: 18px;
  margin-left: 20px;

  margin-top: 7px;
}

.descending:focus,
.descending:hover {
  background-image: url(../img/triangle/icon-down.svg);
  opacity: 1;
  background-repeat: no-repeat;
  background-position: center;
}
.descending:active {
  background-image: url(../img/triangle/icon-down-active.svg);
  opacity: 1;
  background-repeat: no-repeat;
  background-position: center;
}

.descending-active-item,
.descending-active-item:hover,
.descending-active-item:focus,
.descending-active-item:active {
  background-image: url(../img/triangle/icon-down-active.svg);
  opacity: 1;
 }

.ascending {
  display: block;
  width: 11px;
  height: 10px;
  background-image: url(../img/triangle/icon-up.svg);
  opacity: 0.2;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
  margin-top: 7px;
}


.ascending:focus,
.ascending:hover {
  background-image: url(../img/triangle/icon-up.svg);
  opacity: 1;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.ascending:active {
  background-image: url(../img/triangle/icon-up-active.svg);
  opacity: 1;
  background-repeat: no-repeat;
  background-position: center;
}

.ascending-active-item {
  background-image: url(../img/triangle/icon-up-active.svg);
  opacity: 1;
}



/*Карточки*/

.results-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display:-ms-grid;
  display:grid;
  -ms-grid-columns: 360px 40px 360px;
  grid-template-columns: repeat(2, 360px);
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 30px;
  /* outline: 5px solid rgba(255, 0, 221, 0.7);
  outline-offset: -5px; */
  margin-bottom: 60px;

}
.results-hover {
  width:360px;
  height: 231px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display:none;
  text-align: center;
  padding: 0;
  padding-top: 26px;
  position: absolute;
  bottom: 0;
}

.card-container:hover .results-hover{
  display: block;
}





.results-hover h3 {
  margin: 0;
  padding: 0;
}

/*название карточки*/
.results-link-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-bottom: 12px;
}
.results-link-title:focus,
.results-link-title:hover {
  color: var(--light-red);
}
.results-link-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.results-hover-content {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-grey);

  margin-bottom: 32px;
  /*от переполнения*/
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;


}
/*будет кнопкой*/
.price-button {
  padding: 17px 72px 15px 72px;
}
.price-button:focus,
.price-button:hover {
  background-color: var(--red);
}
.price-button:active {
  background-color: var(--dark-red);
  -webkit-box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
          box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);

}

.card-container {
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 358px;
  min-height: 618px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: var(--basic-white);
}

.card-container::before{

  background-image: url(../img/browser.svg);
  opacity: 0.12;
  display: block;
  background-color: transparent;
  height: 40px;
  width: 358px;
  content: "";

}

.card-container:hover::before {
   opacity: 1;
}

.card-container img {
  /* position: relative;
  z-index: 1; */
  width: 358px;
  height: 578px;
  margin: 0;

}
.card-container:hover .results-hover{
  /*
  display:block;
  position: relative;
  z-index: 5;
  top: -300px;
  */
  background: var(--basic-light-grey);
  /* outline: 1px solid  green; */
}

.pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination-list li {
  margin-right: 11px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

.pagination-item{
font-weight: 500;
font-size: 16px;
line-height: 18px;
padding: 17px 20px 15px 20px;
border-radius: 3px;
color: var(--basic-black);
background-color: var(--basic-light-grey);
margin-bottom: 10px;
display:inline-block;
/* box-sizing: border-box; */
}

.pagination-item:focus,
.pagination-item:hover {
  background-color:var(--pagination-grey);
}

.pagination-item:active {
  background-color:var(--pagination-grey-dark);
  color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
          box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);

}

.pagination-item-active:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}


.pagination-item-active,
.pagination-item-active:focus,
.pagination-item-active:hover,
.pagination-item-active:active {
  background-color: rgba(0, 0, 0, 0.0001);
  color: var(--basic-black);
  border: 3px solid #DBDBDB;
  border-radius: 3px;
  padding: 14px 17px 12px 17px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  /*
  margin-bottom: 10px;
  display:inline-block;
  box-sizing: border-box;
  */
}





.pagination-item-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  /* padding: 14px 17px 12px 17px; */
  text-transform: uppercase;
  color: var(--basic-black);

  padding: 17px 77px 15px 78px;
  border-radius: 3px;
  color: var(--basic-black);
  background-color: var(--basic-light-grey);
  margin-bottom: 10px;
  display:inline-block;
  /* box-sizing: border-box; */

}
.pagination-item-button:focus,
.pagination-item-button:hover {
  background-color:var(--pagination-grey);

}
.pagination-item-button:active {
  background-color:var(--pagination-grey-dark);
  color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
          box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}



.pagination-button:focus,
.pagination-button:hover {
  background-color:var(--pagination-grey);
}
.pagination-button:active {
  background-color:var(--pagination-grey-dark);
  color: rgba(0, 0, 0, 0.3);
}

/*Модальное окно. Написать письмо.*/
.modal-letter {
  background-color: var(--basic-white);
  -webkit-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  width: 960px;
  /* height: 590px; */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* position: absolute; */
  position: fixed;
  /* top: 0;
  right: 0;
  left: 0;
  bottom: 0; */
  margin: 0 auto;
  overflow: auto;
  z-index: 200;
  /* отключает всплывашку */
  display: none;
  padding: 0;

  /* этим центруем всплывашку */
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
/*------------------------ */
}

.modal-wrapper {
  margin: 63px 99px 84px 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal-letter h2 {
  width: 760px;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  position: relative;
  padding: 0;
  margin: 0;
  margin-bottom: 37px;


}
.modal-close {
  width: 21px;
  height: 21px;
  background-image: url(../img/close.png);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  position: absolute;
  right: -7px;
  top:14px;

}

.modal-close:hover {
  background-image: url(../img/closeHover.png);
}
.modal-close:active {
  background-image: url(../img/closeActive.png);
}

.letter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  width: 760px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.letter-form input[type="text"],
.letter-form input[type="email"],
.letter-message {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--dark-grey);
  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.letter-form input {
  width: 360px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 14px 14px 14px 14px;
}
.letter-message {
  width: 760px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px 14px 16px 16px;
  margin: 0;
  margin-bottom: 48px;
  /* отключаем возможность растягивать окно ввода */
  resize: none;
}


.letter-form input:focus {
  border: 2px solid #000000;
}

.letter-form input:hover {
  border: 2px solid #b4b9bb;
}

.letter-form-par {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
}

.letter-form-label {
  margin-bottom: 9px;
}



.your-mail {
  margin-bottom: 34px;
}


.letter-form-par label {
  display: block;

}

.letter-form-button {
  padding: 17px 83px 15px 83px;
  outline: none;
  display: block;
  /* отключаем браузерный стиль */
  border: none;
}
